
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <button><a class="text-black text-decoration-none" asp-area="" asp-controller="Project" asp-action="NewProject">Create project</a></button>
</div>